/* usar o * quando quiser selecionar todo os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header {
    background-color: green;
    padding: 16px 0; /* espaçamento */
    color: aliceblue;
    display: flex;  /* para deixar o botão ao lado do titulo */
    border-bottom:  16px solid rgb(3, 87, 3);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px; /* afastar para esquerda */
}

form {
    background-color: aliceblue;
    padding: 24px 0; /* espaçamento interto no top e inferior */
    text-align: center; /* texto centralizado */
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: rgb(46, 134, 72);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botao-cancelar{
    background-color: red;
}

ul {
    display: flex; /* vai colocar os elementos lado a lado */
    flex-wrap: wrap; /* quando chegar no limete ocupar toda a tela e criar uma nova linha */

}

ul li {
    max-width: 25%; /* largura maxima */
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;

}

ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px; /* espaçamento */
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color:#fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}
